body{
    background-color: #c5c6c7;
}
@keyframes heading{
0%{
    transform: translateY(-100px);
}
50%{transform: translateX(20px);}
}
.heading{
font-size: 80px;
font-family: libre bodoni;
margin-left: 50px;
color: dimgrey;
background-color: rgb(180, 180, 180);
padding-left: 100px;
padding-top: 150px;
padding-bottom: 150px;
margin-top: 0px;
margin-left: 0px;
animation: heading 5s ;
transition: 1s;
border-radius: 50px;
}
    .heading:hover{
        color: white;
        background-color: dimgrey;
    text-shadow: 15px 15px 10px black;
    transform: scale(1.1);
    }
    
@keyframes about{
    0%{
        transform: translateY(100px);
    }
    50%{
        transform: translateX(-20px);
    }
    }
.about{
    animation: about 5s;
display: inline-block;
font-family: merienda;
font-size: 35px;
margin-left: 20px;
color: #c5c6c7;
background-color: #1f2833;
border-radius: 10px;
border-color: rgb(41, 118, 211);
border:10px double;
padding: 10px;    
transition: 1s;
cursor: pointer;
}
.about:hover{
color: #1f2833;
background-color: #c5c6c7;
transform: scale(1.1);
}
@keyframes img{
    
    0%{
        transform: translateX(-100px);
    }
    }

.img{

    float:right;

width: 500px;
height: 500px;
animation: img 5s;
margin-top: 150px;
border-radius: 100px;
transition: 1s;
}
.img:hover{
    box-shadow: 10px 10px 60px black;
}
.info{
    padding-left: 10px;
font-size:25px ;
width: 600px;
margin-top: 0px;
text-align: left;
color: gray;
transition: 1s;
}
.info:hover{
transform:scale(0.9);


}
.content{
font-size: 50px;
font-family: dancing script;
background-color: #1f2833;
color: gray;
padding-left: 400px;
padding-top: 50px;
padding-bottom: 50px;
transition: 1s;
}
.content:hover{
    color: #1f2833;
    background-color: gray;
}
.details{
    margin-left: 390px;
width: 500px;
height: 500px;
border-radius: 100px;
margin-bottom: 50px;
transition: 1.5s;
}


.details:hover{
    box-shadow: 10px 10px 60px black;
}
th{
    
    border: 2px  black;
    border-style: solid solid none solid;
    font-size: 30px;
    font-family: merienda;
    padding: 30px;
}
td{
    border: 2px  black;
    border-style:solid solid double solid;
    font-size: 25px;
    font-family: merienda;
padding: 25px;
}
.end{
font-size: 30px;
background-color: black;
 color: #c5c6c7;
 padding-top: 30px; 
 padding-bottom: 30px;
 padding-left: 490px;  
}
.home{

    position: fixed;
    border-radius: 10px;
}